.black { color: $c-black; }
.white { color: $c-white; }

.second { color: $c-second; }
.blue { color: $c-blue; }
.blue-1 { color: $c-blue-1; }

.brown { color: $c-primary;}
.brown-1 { color: $c-brown-1;}
.orange { color: $c-orange; }
.green { color: $c-green; }
.red-1 { color: $c-red-1; }
.gray { color: $c-dark-gray; }

/* Background Colors */
.bg-black { background-color: $c-black; }
.bg-gray { background-color: $c-second; }
.bg-brown { background-color:$c-brown; }
.bg-brown-1 { background-color: $c-brown-1; }
.bg-white-1 { background-color: $c-white; }
.bg-gray-1 { background-color: $c-dark-gray; }
.bg-gray-2 { background-color: $c-second; }
.bg-blue-1 { background-color: $c-purple; }
.bg-red-1 { background-color: $c-red-1; }
.bg-orange { background-color: $c-orange; }
.bg-orange-1 { background-color: $c-orange-1; }
.bg-blue { background-color: $c-blue; }
.bg-blue-1 { background-color: $c-blue-1; }
.bg-green { background-color: $c-green; }
.bg-green-1 { background-color: $c-green-1; }
.bg-yellow-1 { background-color: $c-yellow-1; }
.shadow {
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}